@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Genuine";
  /* TODO: webpackの設定で環境変数に応じてprefixをつけたい `{$NEXT_PUBLIC_BASE_PATH}/fonts/...` */
  src: url("/fonts/Genuine/Genuine400.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@layer utilities {
  .text-bg-blur-sm {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  }

  .text-bg-blur-xl {
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
  }

  /* TODO: themeがの色使いたい。linear-gradientを@applyで書きたい。 */
  .highlight {
    @apply font-bold text-black leading-normal;
    background: linear-gradient(transparent 65%, #d3d977 65%);
  }

  /* TODO: after(before)擬似要素を設定できるプラグイン */
  .speech-bubble,
  .speech-bubble--reversed {
    position: relative;
    padding: 12px 16px;
    min-width: 120px;
    max-width: 100%;
    min-height: 50px;
    width: max-content;
    background: #fff;
    border: solid 1px currentColor;
    border-radius: 5px;
  }

  .speech-bubble:before,
  .speech-bubble--reversed:before {
    content: "";
    position: absolute;
    top: 18px;
    margin-top: -6px;
    border: 6px solid transparent;
    z-index: 20;
  }

  .speech-bubble:after,
  .speech-bubble--reversed:after {
    content: "";
    position: absolute;
    top: 18px;
    margin-top: -6px;
    border: 6px solid transparent;
    z-index: 10;
  }

  .speech-bubble:before {
    left: -11px;
    border-right: 6px solid #fff;
  }

  .speech-bubble:after {
    left: -13px;
    border-right: 6px solid currentColor;
  }

  .speech-bubble--reversed:before {
    right: -11px;
    border-left: 6px solid #fff;
  }

  .speech-bubble--reversed:after {
    right: -13px;
    border-left: 6px solid currentColor;
  }

  .triangle-r {
    background-color: #fff;
    width: 16px;
    height: 30px;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
  }

  .triangle-l {
    background-color: #fff;
    width: 16px;
    height: 30px;
    clip-path: polygon(100% 0, 0% 50%, 100% 100%);
  }
}
